@charset "UTF-8";
html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: '微软雅黑';
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em,
b,
strong {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

img {
  border: 0;
  display: block;
}

input,
fieldset {
  outline: none;
  border: 0;
}

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
}

.top {
  height: 36px;
  z-index: 10000;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.top .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.top .wrapper .top-left {
  float: left;
  width: 189px;
}
.top .wrapper .top-left ul {
  list-style: none;
}
.top .wrapper .top-left ul li {
  position: relative;
  float: left;
  line-height: 36px;
  padding: 0 10px;
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: right -178px;
}
.top .wrapper .top-left ul li em {
  color: red;
}
.top .wrapper .top-left ul li .city {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 280px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #333;
  font-weight: 400;
  cursor: default;
  padding: 5px 0;
  border-top: none;
}
.top .wrapper .top-left ul li .city li {
  padding-left: 10px;
  line-height: 22px;
  color: #a5a5a5;
  font-weight: 700;
  float: none;
}
.top .wrapper .top-left ul li .city li a {
  text-decoration: none;
  color: #333;
}
.top .wrapper .top-left ul li:hover .city {
  display: block;
  z-index: 9999;
}
.top .wrapper .top-right {
  float: right;
  width: 588px;
}
.top .wrapper .top-right ul {
  list-style: none;
}
.top .wrapper .top-right ul .tellnumber {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
}
.top .wrapper .top-right ul em {
  color: red;
}
.top .wrapper .top-right ul .menu {
  position: relative;
}
.top .wrapper .top-right ul .menu ul {
  position: absolute;
  margin: 0 0 0 10px;
  left: -11px;
  top: -27px;
  background: #fff;
  z-index: 10001;
  display: none;
  width: 85px;
  padding: 32px 0 0;
  border: #ddd 1px solid;
}
.top .wrapper .top-right ul .menu ul li a {
  color: #5e5e5e;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 82px;
}
.top .wrapper .top-right ul .menu ul li:hover a {
  color: blue;
  text-decoration: underline;
}
.top .wrapper .top-right ul .menu:hover ul {
  display: block;
}
.top .wrapper .top-right ul li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.top .wrapper .top-right ul li em {
  float: left;
}
.top .wrapper .top-right ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
}
.top .wrapper .top-right ul li a:hover {
  color: blue;
}
.top .wrapper .top-right ul .login a {
  color: red;
}

.logo-main .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.logo-main .wrapper .logo {
  width: 180px;
  float: left;
  height: 113px;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-top: 26px;
  margin-right: 105px;
}
.logo-main .wrapper .logo a {
  text-decoration: none;
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  background: url(https://s.maiyaole.com/images/common/logo_01.png) no-repeat;
}
.logo-main .wrapper .search {
  float: left;
  margin: 34px 0 0 0;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}
.logo-main .wrapper .search .place {
  position: absolute;
  left: 0;
  top: 3px;
  line-height: 40px;
  padding-left: 12px;
  color: #5e5e5e;
  width: 393px;
  height: 30px;
  overflow: hidden;
  zoom: 1;
}
.logo-main .wrapper .search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  background-color: #fff;
}
.logo-main .wrapper .search #btn {
  float: left;
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
  color: #c7a774;
  font-size: 21px;
  line-height: 46px;
  cursor: pointer;
}
.logo-main .wrapper .search .list {
  margin-top: 10px;
}
.logo-main .wrapper .search .list a {
  text-decoration: none;
  color: #5e5e5e;
  padding: 0 6px 0 0;
  margin-right: 6px;
  height: 16px;
  line-height: 16px;
  font-family: Arial;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.logo-main .wrapper .search .list a:hover {
  color: red;
}
.logo-main .wrapper .search .APP img {
  position: absolute;
  right: -210px;
  top: -7px;
  width: 100px;
  height: 93px;
}

.nav {
  margin: 0 auto;
  border-bottom: 2px solid #d2b994;
}
.nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  height: 46px;
}
.nav .wrapper .nav-first {
  display: block;
  float: left;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma, arial, Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  font-weight: 700;
}
.nav .wrapper ul {
  float: left;
}
.nav .wrapper ul li {
  float: left;
}
.nav .wrapper ul li a {
  font-weight: 400;
  font-family: "Microsoft YaHei";
  color: #505050;
  padding: 0 16px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  position: relative;
  display: block;
  cursor: pointer;
}
.nav .wrapper ul li:hover a {
  color: blue;
}

.banner .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.banner .wrapper .ban-l {
  width: 180px;
  float: left;
}
.banner .wrapper .ban-l ul {
  height: 400px;
  background-color: #314349;
}
.banner .wrapper .ban-l ul li:hover {
  padding-left: 5px;
  transition: all .2s linear;
}
.banner .wrapper .ban-l ul li:hover a {
  background-color: white;
  color: #314349;
}
.banner .wrapper .ban-l ul li:hover i {
  color: #314349;
}
.banner .wrapper .ban-l ul li:hover .cartlist {
  display: block;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item {
  display: block;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl {
  display: block;
  font: 12px/18px Arial, tahoma, \5b8b\4f53;
  background: #fff;
  margin-bottom: 13px;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dt {
  margin: 6px 0 0 23px;
  padding: 0;
  line-height: 20px;
  height: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd {
  color: #999;
  line-height: 1.6;
  width: 220x;
  margin: 0 0 0 23px;
  padding: 0 0 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd em {
  margin: 8px 6px 0 -8px;
  padding: 1px 6px 0 7px;
  display: inline-block;
  font-style: normal;
  border-left: #ddd 1px solid;
  font-weight: 400;
  line-height: 1;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd em a {
  color: #424242;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
  height: 21px;
}
.banner .wrapper .ban-l ul li a {
  display: block;
  width: 180px;
  height: 40px;
  color: #fff;
  background-color: #314349;
  text-decoration: none;
}
.banner .wrapper .ban-l ul li a i {
  float: left;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  margin-left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 103;
}
.banner .wrapper .ban-l ul li a h4 {
  margin-left: 47px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Microsoft YaHei", tahoma, arial, \5b8b\4f53;
}
.banner .wrapper .cartlist {
  position: absolute;
  top: 0;
  left: 180px;
  height: 400px;
  width: 750px;
  z-index: 101;
  background: #fff;
  border-bottom: 1px solid #e8e8e7;
  border-right: 1px solid #e8e8e7;
  clear: both;
  display: none;
}
.banner .wrapper .cartlist .item {
  position: absolute;
  padding: 20px;
  display: none;
}
.banner .wrapper .ban-m {
  width: 750px;
  height: 400px;
  float: left;
}
.banner .wrapper .ban-m a img {
  width: 750px;
  height: 400px;
}
.banner .wrapper .ban-r {
  width: 259px;
  height: 398px;
  height: 399px;
  border-right: 1px solid #d2b994;
  overflow: hidden;
  border-bottom: 1px solid #d2b994;
}
.banner .wrapper .ban-r .title-1 {
  line-height: 32px;
  padding-left: 13px;
}
.banner .wrapper .ban-r .title-1 a {
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  color: #707070;
  margin-left: 10px;
}
.banner .wrapper .ban-r .content {
  padding-left: 23px;
  padding-bottom: 8px;
  overflow: hidden;
  font-size: 13px;
}
.banner .wrapper .ban-r .content a {
  width: 72px;
  float: left;
  height: 25px;
  line-height: 25px;
  color: #707070;
}
.banner .wrapper .ban-r .content a i {
  background: url(https://s.maiyaole.com/images/201306/images/just_index.png) no-repeat;
  display: inline-block;
  background-position: -15px -452px;
  width: 6px;
  height: 10px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.banner .wrapper .ban-r .content a:hover {
  text-decoration: underline;
}
.banner .wrapper .ban-r .img-1 {
  text-align: center;
  overflow: hidden;
  margin: 0 13px;
}
.banner .wrapper .ban-r .img-1 a img {
  width: 100%;
}
.banner .wrapper .ban-r .title-2 {
  margin-left: 20px;
  padding-top: 10px;
  clear: both;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.banner .wrapper .ban-r .title-2 a {
  font-weight: bold;
  color: #000;
  padding-bottom: 5px;
}
.banner .wrapper .ban-r .img-2 ul {
  margin-left: 20px;
  padding-top: 5px;
  height: 44px;
}
.banner .wrapper .ban-r .img-2 ul li {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.banner .wrapper .ban-r .img-2 ul li img {
  width: 44px;
  height: 44px;
  border-radius: 5px;
}
.banner .wrapper .ban-r .title-3 {
  display: inline-block;
  font-size: 12px;
  padding-left: 10px;
}
.banner .wrapper .ban-r .title-3 a {
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #707070;
}
.banner .wrapper .ban-r .img-3 {
  padding: 0 0 0 10px;
  height: 71px;
  padding-top: 8px;
}
.banner .wrapper .ban-r .img-3 a {
  width: 60px;
  float: left;
  display: block;
  text-align: center;
}
.banner .wrapper .ban-r .img-3 a i {
  background: url(https://s.maiyaole.com/images/201306/images/icon_gonggao.png) no-repeat;
  background-position: -42px -44px;
  display: inline-block;
  width: 37px;
  height: 37px;
}
.banner .wrapper .ban-r .img-3 a span {
  display: block;
  color: #333;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}

.banner2 .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.banner2 .wrapper .oclock {
  width: 180px;
  height: 150px;
  background: pink;
  display: block;
  float: left;
}
.banner2 .wrapper a {
  float: left;
  display: block;
}
.banner2 .wrapper a img {
  display: inline-block;
}

.main-1 .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.main-1 .wrapper .floor1, .main-1 .wrapper .floor2, .main-1 .wrapper .floor3 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
}
.main-1 .wrapper .floor1 .floor-l, .main-1 .wrapper .floor2 .floor-l, .main-1 .wrapper .floor3 .floor-l {
  float: left;
  width: 180px;
}
.main-1 .wrapper .floor1 .floor-l .title, .main-1 .wrapper .floor2 .floor-l .title, .main-1 .wrapper .floor3 .floor-l .title {
  padding-left: 20px;
  height: 85px;
  background: #92c4ff;
  color: #F8F8F8;
  line-height: 85px;
  font-size: 20px;
}
.main-1 .wrapper .floor1 .floor-l ul li, .main-1 .wrapper .floor2 .floor-l ul li, .main-1 .wrapper .floor3 .floor-l ul li {
  float: left;
  width: 89px;
  height: 49px;
  border: 1px solid #F3F3F3;
  border-left: none;
  border-top: none;
  text-align: center;
  line-height: 49px;
  font-size: 14px;
}
.main-1 .wrapper .floor1 .floor-l ul li a, .main-1 .wrapper .floor2 .floor-l ul li a, .main-1 .wrapper .floor3 .floor-l ul li a {
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
}
.main-1 .wrapper .floor1 .floor-l ul li a:hover, .main-1 .wrapper .floor2 .floor-l ul li a:hover, .main-1 .wrapper .floor3 .floor-l ul li a:hover {
  text-decoration: underline;
  color: red;
}
.main-1 .wrapper .floor1 .floor-r, .main-1 .wrapper .floor2 .floor-r, .main-1 .wrapper .floor3 .floor-r {
  height: 284px;
}
.main-1 .wrapper .floor1 .floor-r .img-1, .main-1 .wrapper .floor2 .floor-r .img-1, .main-1 .wrapper .floor3 .floor-r .img-1 {
  width: 605px;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #f3f3f3;
}
.main-1 .wrapper .floor1 .floor-r .img-1 img, .main-1 .wrapper .floor2 .floor-r .img-1 img, .main-1 .wrapper .floor3 .floor-r .img-1 img {
  width: 605px;
  height: 100%;
  position: absolute;
  left: 0;
}
.main-1 .wrapper .floor1 .floor-r .img-2, .main-1 .wrapper .floor2 .floor-r .img-2, .main-1 .wrapper .floor3 .floor-r .img-2 {
  height: 100%;
  float: left;
}
.main-1 .wrapper .floor1 .floor-r .img-2 img, .main-1 .wrapper .floor2 .floor-r .img-2 img, .main-1 .wrapper .floor3 .floor-r .img-2 img {
  width: 200px;
  height: 100%;
  float: left;
  border-right: 1px solid #F3F3F3;
}
.main-1 .wrapper .floor1 .floor-list, .main-1 .wrapper .floor2 .floor-list, .main-1 .wrapper .floor3 .floor-list, .main-1 .wrapper .floor2 .floor2-list, .main-1 .wrapper .floor3 .floor3-list {
  height: 201px;
}
.main-1 .wrapper .floor1 .floor-list li, .main-1 .wrapper .floor2 .floor-list li, .main-1 .wrapper .floor3 .floor-list li, .main-1 .wrapper .floor2 .floor2-list li, .main-1 .wrapper .floor3 .floor3-list li {
  float: left;
  width: 160px;
  padding: 20px 20px 10px 20px;
  border-right: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  height: 170px;
}
.main-1 .wrapper .floor1 .floor-list li img, .main-1 .wrapper .floor2 .floor-list li img, .main-1 .wrapper .floor3 .floor-list li img, .main-1 .wrapper .floor2 .floor2-list li img, .main-1 .wrapper .floor3 .floor3-list li img {
  width: 100px;
  height: 100px;
  margin-left: 30px;
  display: block;
}
.main-1 .wrapper .floor1 .floor-list li a, .main-1 .wrapper .floor2 .floor-list li a, .main-1 .wrapper .floor3 .floor-list li a, .main-1 .wrapper .floor2 .floor2-list li a, .main-1 .wrapper .floor3 .floor3-list li a {
  font-size: 14px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  margin: 15px 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.main-1 .wrapper .floor1 .floor-list li p, .main-1 .wrapper .floor2 .floor-list li p, .main-1 .wrapper .floor3 .floor-list li p, .main-1 .wrapper .floor2 .floor2-list li p, .main-1 .wrapper .floor3 .floor3-list li p {
  color: #E72418;
  font-size: 16px;
  text-align: center;
}
.main-1 .wrapper .floor1 .floor-list li p i, .main-1 .wrapper .floor2 .floor-list li p i, .main-1 .wrapper .floor3 .floor-list li p i, .main-1 .wrapper .floor2 .floor2-list li p i, .main-1 .wrapper .floor3 .floor3-list li p i {
  font-size: 12px;
  padding-right: 5px;
}
.main-1 .wrapper .floor2 .floor-l .title {
  background-color: #ffa27a;
}
.main-1 .wrapper .floor3 .floor-l .title {
  background-color: #ff6b6b;
}

.main-2 {
  margin-top: 30px;
}
.main-2 .wrapper {
  width: 1190px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
.main-2 .wrapper .tab-l {
  width: 930px;
  float: left;
}
.main-2 .wrapper .tab-l .tab-title {
  background: #F3F3F3;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  height: 60px;
  clear: both;
}
.main-2 .wrapper .tab-l .tab-title span {
  background-color: #92C4FF;
  width: 184px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: "Microsoft YaHei";
  float: left;
}
.main-2 .wrapper .tab-l .tab-title ul {
  font-size: 14px;
  max-width: 744px;
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
}
.main-2 .wrapper .tab-l .tab-title ul .active {
  background: #fff;
  height: 60px;
  position: relative;
}
.main-2 .wrapper .tab-l .tab-title ul li {
  line-height: 58px;
  width: 81px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  cursor: pointer;
  text-align: center;
  padding: 0 6px;
}
.main-2 .wrapper .tab-l .tab-title ul li a {
  color: #333;
}
.main-2 .wrapper .tab-l .tab-title ul li a:hover {
  text-decoration: underline;
}
.main-2 .wrapper .tab-l .tab-content {
  clear: both;
  display: none;
}
.main-2 .wrapper .tab-l .tab-content ul li:nth-of-type(odd) {
  width: 483px;
}
.main-2 .wrapper .tab-l .tab-content ul li {
  padding: 20px 0;
  height: 38px;
  line-height: 38px;
  width: 447px;
  float: left;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
}
.main-2 .wrapper .tab-l .tab-content ul li span {
  color: #666;
  float: right;
  font-weight: normal;
}
.main-2 .wrapper .tab-l .tab-content ul li a {
  color: #000;
  width: 320px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-2 .wrapper .tab-r {
  width: 240px;
  float: right;
}
.main-2 .wrapper .tab-r .tab2-title span {
  color: #000;
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E72418;
  display: inline-block;
}
.main-2 .wrapper .tab-r .tab2-title i {
  width: 35px;
  height: 16px;
  background: url(https://www.111.com.cn/news/statics/images/hot.png);
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 3px;
}
.main-2 .wrapper .tab-r .tab2-content {
  background: #F3F3F3;
  padding: 10px 5px 10px 10px;
  font-size: 12px;
  overflow: hidden;
  line-height: 30px;
  margin-top: 15px;
}
.main-2 .wrapper .tab-r .tab2-content a {
  color: #333;
  width: 65px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.insidelink .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.insidelink .wrapper .inside-box {
  font-size: 15px;
  clear: both;
  overflow: hidden;
  width: 1190px;
  margin-top: 15px;
  color: #000;
  border-bottom: 1px dotted #666;
  padding-bottom: 15px;
}
.insidelink .wrapper .inside-box .title {
  clear: both;
  overflow: hidden;
}
.insidelink .wrapper .inside-box .title .inside-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  float: left;
}
.insidelink .wrapper .inside-box .title a {
  font-size: 14px;
  float: right;
  color: #333;
}
.insidelink .wrapper .inside-box ul {
  height: 40px;
  overflow: hidden;
}

.wrapper {
  width: 1190px;
  margin: 0 auto;
}
.wrapper .ico-part {
  padding-top: 62px;
  clear: both;
}
.wrapper .ico-part .ico {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  background: url(https://s.maiyaole.com/images/201306/images/jsyhm.png) no-repeat 0 0;
}
.wrapper .app-part {
  margin-top: 60px;
}
.wrapper .app-part .app {
  float: left;
  padding-left: 110px;
}
.wrapper .app-part .app li {
  width: 255px;
  float: left;
}
.wrapper .app-part .app li img {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 12px;
}
.wrapper .app-part .app li .app-content {
  padding-top: 27px;
}
.wrapper .app-part .app li .app-content h2 {
  font-size: 15px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 3px;
}
.wrapper .app-part .app li .app-content p {
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.wrapper .app-part .sever-number {
  width: 250px;
  float: right;
  border-left: 1px solid #eee;
  text-align: center;
  padding: 15px 0;
  margin-right: 50px;
}
.wrapper .app-part .sever-number .number {
  font-size: 20px;
  color: #c7a774;
  font-weight: 700;
}
.wrapper .app-part .sever-number .num-content {
  color: #999;
  line-height: 18px;
  padding-top: 8px;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}

.footer {
  background: #f0f0f0;
  margin-top: 65px;
  padding-top: 45px;
}
.footer .inner {
  width: 1190px;
  margin: 0 auto;
}
.footer .inner .footer-top {
  position: relative;
  padding-left: 215px;
  padding-top: 15px;
}
.footer .inner .footer-top img {
  position: absolute;
  left: 0;
  top: 30px;
}
.footer .inner .footer-top .top-content {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  overflow: hidden;
}
.footer .inner .footer-top .top-content dl {
  width: 155px;
  float: left;
}
.footer .inner .footer-top .top-content dl dt {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 15px;
  padding-bottom: 10px;
}
.footer .inner .footer-top .top-content dl dd {
  line-height: 26px;
}
.footer .inner .footer-top .top-content dl dd a {
  color: #666;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.footer .inner .footer-bottom {
  position: relative;
  padding-left: 215px;
  padding-top: 15px;
}
.footer .inner .footer-bottom .logo {
  position: absolute;
  left: 0;
  top: 30px;
}
.footer .inner .footer-bottom .bot-content {
  color: #5e5e5e;
  text-align: center;
  padding: 5px 0 30px;
}
.footer .inner .footer-bottom .bot-content .member {
  overflow: hidden;
  padding-top: 25px;
}
.footer .inner .footer-bottom .bot-content .member span {
  color: #666;
  float: left;
  line-height: 56px;
  font-size: 12px;
}
.footer .inner .footer-bottom .bot-content .member ul {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-left: 15px;
}
.footer .inner .footer-bottom .bot-content .member ul li {
  width: 270px;
  float: left;
  line-height: 56px;
}
.footer .inner .footer-bottom .bot-content .member ul li img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  float: left;
}
.footer .inner .footer-bottom .bot-content .member ul li span {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  float: left;
  line-height: 56px;
}
.footer .inner .footer-bottom .bot-content .link {
  text-align: left;
  line-height: 30px;
  padding-top: 30px;
  margin-left: -20px;
}
.footer .inner .footer-bottom .bot-content .link a {
  margin: 0 20px;
  color: #666;
  font-size: 12px;
}
.footer .inner .footer-bottom .bot-content .copy {
  text-align: left;
  color: #999;
  line-height: 20px;
  padding-top: 15px;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.footer .inner .footer-bottom .bot-content .copy a {
  color: #999;
}

.elevator {
  position: fixed;
  z-index: 99;
  right: 50%;
  margin-right: 600px;
  top: 102px;
  display: block;
}
.elevator .ttp {
  display: block;
  width: 48px;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  text-align: center;
  color: #157CDB;
  padding: 5px 0;
  text-decoration: none;
  font-family: "Microsoft YaHei";
}
.elevator li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  width: 48px;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  background-color: #fff;
}
.elevator li a {
  color: #5e5e5e;
  display: block;
  font-size: 14px;
}
.elevator li .etitle {
  line-height: 17px;
  padding: 3px 5px;
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.elevator li:hover .etitle {
  color: #fff;
  display: block;
}
.elevator li:hover {
  background: #157CDB;
}
.elevator li:hover .atitle {
  display: none;
}
.elevator li.active .etitle {
  color: #fff;
  display: block;
}
.elevator li.active {
  background: #157CDB;
}
.elevator li.active .atitle {
  display: none;
}

.float-box {
  position: fixed;
  right: 28px;
  bottom: 10px;
  z-index: 100;
  width: 52px;
}
.float-box .doctor {
  width: 52px;
  cursor: pointer;
}
.float-box a {
  width: 52px;
  height: 52px;
  float: left;
  color: #333;
  text-indent: -9999px;
  overflow: hidden;
}
.float-box .home {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: 0 -622px;
}
.float-box .home:hover {
  background: red;
  color: #fff;
  text-indent: 0;
  text-decoration: none;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
}
.float-box .home:hover .f-c {
  display: block;
  text-align: center;
}
.float-box .demand {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: -52px -725px;
  height: 51px;
  position: relative;
}
.float-box .demand i {
  position: absolute;
  color: #fff;
  right: 11px;
  top: 8px;
  height: 12px;
  width: auto;
  min-width: 12px;
  border-radius: 16px;
  background: red;
  font-size: 12px;
  line-height: 12px;
  padding: 2px;
  text-indent: 0;
  text-align: center;
}
.float-box .wei {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: 0 -674px;
  height: 51px;
  text-indent: 0;
  line-height: 52px;
  font-weight: 700;
  color: #e72519;
  text-align: center;
  width: 52px;
  position: relative;
}
.float-box .wei i {
  position: absolute;
  color: #fff;
  right: 11px;
  top: 8px;
  height: 12px;
  width: auto;
  min-width: 12px;
  border-radius: 16px;
  background: red;
  font-size: 12px;
  line-height: 12px;
  padding: 2px;
  text-indent: 0;
  text-align: center;
}
.float-box .back {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: 0 -777px;
  height: 50px;
}
.float-box .self {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: 0 -827px;
  height: 51px;
}

.wrapper {
  margin: 0 auto;
  width: 990px;
}
.wrapper .wrap-head {
  height: 98px;
  overflow: hidden;
}
.wrapper .reg {
  position: relative;
  background: #fff url(https://s.maiyaole.com/images/passport/r_bg_02.png) no-repeat right bottom;
  background-position-y: 70px;
  padding-bottom: 70px !important;
  width: 988px;
  min-height: 352px;
  color: #5e5e5e;
  border: #e6e6e6 1px solid;
  border-top: #0083ce 2px solid;
  box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
  padding-bottom: 20px;
}
.wrapper .reg .bg {
  position: absolute;
  right: 0;
  top: 60px;
  text-indent: -9999px;
  display: block;
  width: 500px;
  height: 372px;
}
.wrapper .reg h2 {
  font: 20px "microsoft yahei";
  margin: 13px 0;
  padding-left: 50px;
  padding-right: 18px;
}
.wrapper .reg h2 span {
  float: right;
  font-size: 12px;
  margin-top: 7px;
  font-family: \5b8b\4f53;
}
.wrapper .reg h2 span a {
  color: #0083ce;
}
.wrapper .reg-bot {
  padding-left: 100px;
  padding-top: 5px;
  color: #5e5e5e;
}
.wrapper .reg-bot .number {
  height: 70px;
  width: 342px;
  position: relative;
  z-index: 99;
}
.wrapper .reg-bot .number .p-number {
  display: block;
  width: 286px;
  height: 26px;
  padding: 6px 12px 6px 40px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
  background-position: 8px -114px;
}
.wrapper .reg-bot .number i {
  height: 16px;
  width: auto;
  float: right;
  padding-right: 25px;
  margin-top: -28px;
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
  background-position: right -57px;
  color: #5e5e5e;
  font: 12px "Lucida Grande", tahoma, arial, \5b8b\4f53;
}
.wrapper .reg-bot .number span {
  color: #e72418;
  padding-top: 5px;
  line-height: 24px;
  font: 12px "Lucida Grande", tahoma, arial, \5b8b\4f53;
}

.top {
  height: 36px;
  z-index: 10000;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.top .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.top .wrapper .top-left {
  float: left;
  width: 189px;
}
.top .wrapper .top-left ul {
  list-style: none;
}
.top .wrapper .top-left ul li {
  position: relative;
  float: left;
  line-height: 36px;
  padding: 0 10px;
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: right -178px;
}
.top .wrapper .top-left ul li em {
  color: red;
}
.top .wrapper .top-left ul li .city {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 280px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #333;
  font-weight: 400;
  cursor: default;
  padding: 5px 0;
  border-top: none;
}
.top .wrapper .top-left ul li .city li {
  padding-left: 10px;
  line-height: 22px;
  color: #a5a5a5;
  font-weight: 700;
  float: none;
}
.top .wrapper .top-left ul li .city li a {
  text-decoration: none;
  color: #333;
}
.top .wrapper .top-left ul li:hover .city {
  display: block;
  z-index: 9999;
}
.top .wrapper .top-right {
  float: right;
  width: 588px;
}
.top .wrapper .top-right ul {
  list-style: none;
}
.top .wrapper .top-right ul .tellnumber {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
}
.top .wrapper .top-right ul em {
  color: red;
}
.top .wrapper .top-right ul .menu {
  position: relative;
}
.top .wrapper .top-right ul .menu ul {
  position: absolute;
  margin: 0 0 0 10px;
  left: -11px;
  top: -27px;
  background: #fff;
  z-index: 10001;
  display: none;
  width: 85px;
  padding: 32px 0 0;
  border: #ddd 1px solid;
}
.top .wrapper .top-right ul .menu ul li a {
  color: #5e5e5e;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 82px;
}
.top .wrapper .top-right ul .menu ul li:hover a {
  color: blue;
  text-decoration: underline;
}
.top .wrapper .top-right ul .menu:hover ul {
  display: block;
}
.top .wrapper .top-right ul li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.top .wrapper .top-right ul li em {
  float: left;
}
.top .wrapper .top-right ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
}
.top .wrapper .top-right ul li a:hover {
  color: blue;
}
.top .wrapper .top-right ul .login a {
  color: red;
}

.logo-main .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.logo-main .wrapper .logo {
  width: 180px;
  float: left;
  height: 113px;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-top: 26px;
  margin-right: 105px;
}
.logo-main .wrapper .logo a {
  text-decoration: none;
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  background: url(https://s.maiyaole.com/images/common/logo_01.png) no-repeat;
}
.logo-main .wrapper .search {
  float: left;
  margin: 34px 0 0 0;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}
.logo-main .wrapper .search .place {
  position: absolute;
  left: 0;
  top: 3px;
  line-height: 40px;
  padding-left: 12px;
  color: #5e5e5e;
  width: 393px;
  height: 30px;
  overflow: hidden;
  zoom: 1;
}
.logo-main .wrapper .search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  background-color: #fff;
}
.logo-main .wrapper .search #btn {
  float: left;
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
  color: #c7a774;
  font-size: 21px;
  line-height: 46px;
  cursor: pointer;
}
.logo-main .wrapper .search .list {
  margin-top: 10px;
}
.logo-main .wrapper .search .list a {
  text-decoration: none;
  color: #5e5e5e;
  padding: 0 6px 0 0;
  margin-right: 6px;
  height: 16px;
  line-height: 16px;
  font-family: Arial;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.logo-main .wrapper .search .list a:hover {
  color: red;
}
.logo-main .wrapper .search .APP img {
  position: absolute;
  right: -210px;
  top: -7px;
  width: 100px;
  height: 93px;
}

.nav {
  margin: 0 auto;
  border-bottom: 2px solid #d2b994;
}
.nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  height: 46px;
}
.nav .wrapper .nav-first {
  display: block;
  float: left;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma, arial, Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  font-weight: 700;
}
.nav .wrapper ul {
  float: left;
}
.nav .wrapper ul li {
  float: left;
}
.nav .wrapper ul li a {
  font-weight: 400;
  font-family: "Microsoft YaHei";
  color: #505050;
  padding: 0 16px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  position: relative;
  display: block;
  cursor: pointer;
}
.nav .wrapper ul li:hover a {
  color: blue;
}

.inner {
  width: 1190px;
  margin: 0 auto;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.inner .item {
  width: 180px;
  margin: 10px 0;
  border: 1px solid #dbdbdb;
  float: left;
}
.inner .item h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px 9px;
  background-color: #ddd;
  border-top: 1px solid #dbdbdb;
}
.inner .item h2 a {
  color: #5e5e5e;
}
.inner .item h3 {
  height: 36px;
  overflow: hidden;
  padding: 0 5px 0 15px;
  font-size: 12px;
  line-height: 36px;
  border-top: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}
.inner .item h3 a {
  color: #5e5e5e;
}
.inner .item h3 .btn {
  height: 38px;
  float: left;
  width: 18px;
  background: url(https://s.maiyaole.com/images/201306/images/global/search_sprite.png) no-repeat 0px 0px;
  background-position: -53px 13px;
}
.inner .item h3 .current {
  background-color: blue;
}
.inner .item ul {
  padding: 7px 0;
  display: none;
}
.inner .item ul li {
  line-height: 25px;
  white-space: nowrap;
  padding: 0 5px 0 34px;
}
.inner .item ul li a {
  color: #5e5e5e;
}
.inner .main-list {
  width: 1000px;
  float: right;
}
.inner .main-list .search-list {
  position: relative;
  padding: 10px 0;
}
.inner .main-list .search-list .resultnum {
  float: right;
  padding-right: 15px;
}
.inner .main-list .search-list .resultnum span {
  font-weight: bold;
  color: #e54948;
}
.inner .main-list .search-list ul {
  float: left;
  line-height: 21px;
  width: 750px;
}
.inner .main-list .search-list ul li {
  float: left;
  margin-right: 8px;
  height: 30px;
  position: relative;
}
.inner .main-list .search-list ul li a {
  margin-right: 5px;
  color: #5e5e5e;
  padding: 1px 5px;
}
.inner .main-list .search-list ul li a:hover {
  color: red;
}
.inner .search {
  margin-bottom: 10px;
}
.inner .search .group-list {
  padding: 0 10px 0 9px;
  border: 1px solid #dbdbdb;
  position: relative;
  border-bottom: 1px solid #eeeeee;
  margin-top: -1px;
  height: 43px;
}
.inner .search .group-list dl {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  margin-top: -1px;
}
.inner .search .group-list dl dt {
  float: left;
  width: 122px;
  height: 15px;
  overflow: hidden;
  margin: 13px 0 13px 12px;
  text-align: left;
  line-height: 16px;
  color: #333333;
}
.inner .search .group-list dl dd {
  float: left;
  margin-bottom: 10px;
}
.inner .search .group-list dl dd li {
  width: 120px;
  margin-right: 26px;
  float: left;
  margin: 16px 42px 0 0;
}
.inner .search .group-list dl dd li a {
  color: #5e5e5e;
}
.inner .menu {
  height: 30px;
  border: 1px solid #dbdbdb;
  background: #f5f5f5;
  line-height: 30px;
}
.inner .menu .normal li {
  background: #fff;
  color: #e54948;
  font-weight: bold;
  border-right: 1px solid #dbdbdb;
  float: left;
}
.inner .menu .normal li .price {
  width: 86px;
  padding: 0 4px 0 6px;
  position: relative;
  z-index: 10;
}
.inner .menu .normal li .price p {
  line-height: 18px;
  padding-top: 6px;
}
.inner .menu .normal li .price p input {
  width: 31px;
  height: 16px;
  margin: 0 3px;
  padding-left: 1px;
  border: 1px solid #ccc;
  color: #999;
  vertical-align: middle;
  float: left;
}
.inner .menu .normal li a {
  display: block;
  height: 30px;
  padding: 0 10px;
  color: #333;
}
.inner .menu .normal li a span {
  background: url(https://s.maiyaole.com/images/201306/images/global/search_sprite.png) no-repeat 0px 0px;
  background-position: right -400px;
  padding: 0 10px 0 0;
  height: 30px;
  display: block;
}
.inner .menu ul {
  float: left;
}
.inner .list-content {
  font-family: arial;
}
.inner .list-content ul {
  margin-right: -13px;
  position: relative;
}
.inner .list-content ul li {
  padding: 0px 4px;
  float: left;
  margin: 4px 11px 10px 0;
  height: 442px;
  position: relative;
  width: 234px;
}
.inner .list-content ul li .yagao {
  position: relative;
  z-index: 0;
  width: 200px;
  padding: 7px 14px 10px 14px;
  border: 3px solid #fff;
  background-color: #fff;
}
.inner .list-content ul li .yagao a img {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 40px;
}
.inner .list-content ul li .yagao p {
  overflow: hidden;
}
.inner .list-content ul li .yagao .y-price {
  position: relative;
  padding: 5px 0;
  margin-top: 5px;
}
.inner .list-content ul li .yagao .y-price span {
  float: left;
  height: 22px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  color: #f00;
  line-height: 22px;
}
.inner .list-content ul li .yagao .title-box a {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.inner .list-content ul li .yagao .title-box a .list-self {
  float: left;
  margin-right: 6px;
  font-family: 鍗庢枃榛戜綋;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 32px;
  height: 18px;
  background: url(https://s.maiyaole.com/images/common/activity/sale_self_ico.png);
  color: #fff;
  border-radius: 1px;
  background-size: 32px 18px;
}
.inner .list-content ul li .yagao .title-box .promotitle {
  display: block;
  height: 20px;
  line-height: 16px;
  overflow: hidden;
  color: #e54948;
}
.inner .list-content ul li .yagao .sell-type {
  padding-bottom: 6px;
  overflow: hidden;
  clear: both;
}
.inner .list-content ul li .yagao .sell-type .type-right {
  float: right;
  margin-top: 5px;
  color: #5e5e5e;
  height: 20px;
  line-height: 20px;
  clear: both;
}
.inner .list-content ul li .yagao .sell-type .type-right a {
  color: #9d9d9d;
  float: left;
  padding-right: 20px;
}
.inner .list-content ul li .yagao .sell-type .type-right a em {
  font-style: normal;
  color: #ff6666;
}
.inner .list-content ul li .yagao .sell-type .type-left {
  background: url(https://s.maiyaole.com/images/201306/images/searchList/search_zan.png) no-repeat 0 50%;
  padding-left: 18px;
  width: auto;
  height: 20px;
  color: #5E5E5E;
  display: inline-block;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-left: 0;
  top: 5px;
}
.inner .list-content ul li .yagao .buycaradd {
  height: 28px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 0 5px;
  outline: none;
}
.inner .list-content ul li .yagao .buycaradd .buyreduce {
  margin-top: 4px;
  width: 19px;
  height: 19px;
  margin-right: 2px;
  border: 0;
  background: url(https://s.maiyaole.com/images/201306/images/global/listIcon.png) no-repeat;
  vertical-align: middle;
}
.inner .list-content ul li .yagao .buycaradd .buynum {
  margin-top: 4px;
  border-top: none;
  border-bottom: none;
  height: 14px;
  width: 30px;
  line-height: 19px;
  border: 1px solid #e6e6e6;
  color: #262626;
  text-align: center;
  vertical-align: middle;
}
.inner .list-content ul li .yagao .buycaradd .buyadd {
  margin-top: 4px;
  width: 19px;
  height: 19px;
  margin: 0 7px 0 2px;
  border: 0;
  background: url(https://s.maiyaole.com/images/201306/images/global/listIcon.png) no-repeat;
  vertical-align: middle;
  cursor: pointer;
  background-position: -24px -24px;
}
.inner .list-content ul li .yagao .buycaradd .buy {
  background-image: url(https://s.maiyaole.com/images/201306/images/global/search_sprite.png);
  background-position: 8px 50%;
  border-left: 1px solid #e5e5e5;
  padding-left: 26px;
  float: right;
  height: 28px;
  background: #fff;
  color: #ff6666;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  font-size: 12px;
  margin-right: 5px;
  border: 0;
  line-height: 1.2;
  vertical-align: middle;
  cursor: pointer;
}

.top {
  height: 36px;
  z-index: 10000;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.top .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.top .wrapper .top-left {
  float: left;
  width: 189px;
}
.top .wrapper .top-left ul {
  list-style: none;
}
.top .wrapper .top-left ul li {
  position: relative;
  float: left;
  line-height: 36px;
  padding: 0 10px;
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: right -178px;
}
.top .wrapper .top-left ul li em {
  color: red;
}
.top .wrapper .top-left ul li .city {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 280px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #333;
  font-weight: 400;
  cursor: default;
  padding: 5px 0;
  border-top: none;
}
.top .wrapper .top-left ul li .city li {
  padding-left: 10px;
  line-height: 22px;
  color: #a5a5a5;
  font-weight: 700;
  float: none;
}
.top .wrapper .top-left ul li .city li a {
  text-decoration: none;
  color: #333;
}
.top .wrapper .top-left ul li:hover .city {
  display: block;
  z-index: 9999;
}
.top .wrapper .top-right {
  float: right;
  width: 588px;
}
.top .wrapper .top-right ul {
  list-style: none;
}
.top .wrapper .top-right ul .tellnumber {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
}
.top .wrapper .top-right ul em {
  color: red;
}
.top .wrapper .top-right ul .menu {
  position: relative;
}
.top .wrapper .top-right ul .menu ul {
  position: absolute;
  margin: 0 0 0 10px;
  left: -11px;
  top: -27px;
  background: #fff;
  z-index: 10001;
  display: none;
  width: 85px;
  padding: 32px 0 0;
  border: #ddd 1px solid;
}
.top .wrapper .top-right ul .menu ul li a {
  color: #5e5e5e;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 82px;
}
.top .wrapper .top-right ul .menu ul li:hover a {
  color: blue;
  text-decoration: underline;
}
.top .wrapper .top-right ul .menu:hover ul {
  display: block;
}
.top .wrapper .top-right ul li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.top .wrapper .top-right ul li em {
  float: left;
}
.top .wrapper .top-right ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
}
.top .wrapper .top-right ul li a:hover {
  color: blue;
}
.top .wrapper .top-right ul .login a {
  color: red;
}

.logo-main .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.logo-main .wrapper .logo {
  width: 180px;
  float: left;
  height: 113px;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-top: 26px;
  margin-right: 105px;
}
.logo-main .wrapper .logo a {
  text-decoration: none;
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  background: url(https://s.maiyaole.com/images/common/logo_01.png) no-repeat;
}
.logo-main .wrapper .search {
  float: left;
  margin: 34px 0 0 0;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}
.logo-main .wrapper .search .place {
  position: absolute;
  left: 0;
  top: 3px;
  line-height: 40px;
  padding-left: 12px;
  color: #5e5e5e;
  width: 393px;
  height: 30px;
  overflow: hidden;
  zoom: 1;
}
.logo-main .wrapper .search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  background-color: #fff;
}
.logo-main .wrapper .search #btn {
  float: left;
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
  color: #c7a774;
  font-size: 21px;
  line-height: 46px;
  cursor: pointer;
}
.logo-main .wrapper .search .list {
  margin-top: 10px;
}
.logo-main .wrapper .search .list a {
  text-decoration: none;
  color: #5e5e5e;
  padding: 0 6px 0 0;
  margin-right: 6px;
  height: 16px;
  line-height: 16px;
  font-family: Arial;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.logo-main .wrapper .search .list a:hover {
  color: red;
}
.logo-main .wrapper .search .APP img {
  position: absolute;
  right: -210px;
  top: -7px;
  width: 100px;
  height: 93px;
}

.nav {
  margin: 0 auto;
  border-bottom: 2px solid #d2b994;
}
.nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  height: 46px;
}
.nav .wrapper .nav-first {
  display: block;
  float: left;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma, arial, Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  font-weight: 700;
}
.nav .wrapper ul {
  float: left;
}
.nav .wrapper ul li {
  float: left;
}
.nav .wrapper ul li a {
  font-weight: 400;
  font-family: "Microsoft YaHei";
  color: #505050;
  padding: 0 16px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  position: relative;
  display: block;
  cursor: pointer;
}
.nav .wrapper ul li:hover a {
  color: blue;
}

.inner {
  width: 1190px;
  margin: 0 auto;
}
.inner .detail-title {
  padding: 10px 0 18px;
  position: relative;
}
.inner .detail-title .house {
  background: url(https://s.maiyaole.com/images/201306/img/yw_home.png) no-repeat scroll 0 -2px transparent;
  display: inline-block;
  padding-left: 25px;
}
.inner .detail-title span a {
  color: #333;
}
.inner .detail-title .arror {
  font-family: "瀹嬩綋";
  margin: 0 8px;
}
.inner .box {
  width: 298px;
  float: left;
}
.inner .box .imgkk {
  position: relative;
  float: left;
  z-index: 90;
  cursor: crosshair;
}
.inner .box .imgkk img {
  height: 298px;
  width: 298px;
  opacity: 1;
}
.inner .box .imgkk .sf {
  background-color: #FFF;
  opacity: .6;
  border: 1px solid #CCC;
  left: 0px;
  width: 141px;
  height: 141px;
  position: absolute;
  border-width: 1px;
  z-index: 999;
  top: 0px;
}
.inner .box .bf {
  width: 400px;
  height: 500px;
  border: 1px solid #000;
  overflow: hidden;
  position: absolute;
  left: 660px;
  z-index: 9999;
  background-color: white;
}
.inner .box .bf img {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -20px;
  left: 300px;
  z-index: 10000;
}
.inner .box .ulist {
  width: 251px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.inner .box .ulist ul li {
  float: left;
  margin-right: 0px;
}
.inner .box .ulist ul li img {
  float: left;
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  position: relative;
  width: 49px;
  height: 49px;
  display: block;
}
.inner .c-content {
  float: left;
  width: 465px;
  margin-left: 30px;
}
.inner .c-content .propoty span {
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  width: 39px;
  height: 21px;
  background-image: url(https://s.maiyaole.com/images/common/activity/detail_saleSelf.png);
  color: #0193e8;
}
.inner .c-content .propoty h1 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'microsoft yahei';
}
.inner .c-content .message dl {
  padding-bottom: 15px;
  line-height: 20px;
}
.inner .c-content .message dl dt {
  float: left;
  width: 68px;
  clear: left;
  text-align: right;
  padding-top: 5px;
  line-height: 22px;
}
.inner .c-content .message dl dd {
  padding: 0 0 0 6px;
}
.inner .c-content .message dl dd .d-price {
  color: #e72418;
  font-weight: 400;
  display: block;
  float: left;
  line-height: 22px;
  padding-top: 6px;
  padding-right: 6px;
  font-size: 24px;
}
.inner .c-content .message dl dd .p-price {
  background: url(https://s.maiyaole.com/images/product/icon_detail.png) no-repeat scroll 0 -1175px;
  color: #fff;
  float: left;
  line-height: 19px;
  padding: 0 6px 1px 13px;
  margin: 7px 40px 0 0;
}
.inner .c-content .message dl dd .t-price {
  float: rigth;
  margin-top: 8px;
  line-height: 22px;
  margin-left: 40px;
}
.inner .c-content .shuliang dl {
  padding-bottom: 15px;
  line-height: 20px;
}
.inner .c-content .shuliang dl dt {
  float: left;
  width: 68px;
  clear: left;
  text-align: right;
  line-height: 36px;
}
.inner .c-content .shuliang dl dd {
  padding: 0 0 0 6px;
}
.inner .c-content .shuliang dl dd .num-scetion {
  position: relative;
}
.inner .c-content .shuliang dl dd .num-scetion .numbox {
  position: relative;
  width: 106px;
  float: left;
  z-index: 10;
}
.inner .c-content .shuliang dl dd .num-scetion .numbox .num-con {
  width: 73px;
  height: 38px;
  line-height: 38px;
  padding: 0 5px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}
.inner .c-content .shuliang dl dd .num-scetion .numbox .num-pre {
  background-position: -131px -842px;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.inner .c-content .shuliang dl dd .num-scetion .numbox .num-next {
  background-position: -131px -863px;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.inner .c-content .cartbox {
  margin-top: 50px;
}
.inner .c-content .cartbox .cart-btn {
  height: 53px;
  vertical-align: top;
  background-color: #e72418;
  background-position: 50px -763px;
  background-repeat: no-repeat;
  border: 0 solid #9a0900;
  padding: 0 60px 0 90px;
  border-bottom: 3px solid #9a0900;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
}

.pagelist {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
}
.pagelist .m-style {
  float: right;
  text-align: center;
}
.pagelist .m-style span {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #bdbdbd;
  font-size: 14px;
}
.pagelist .m-style a {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #fff;
  border: 1px solid #ebebeb;
  color: #bdbdbd;
  font-size: 14px;
}
.pagelist .m-style a:hover {
  color: #fff;
  background: #e91e63;
}
.pagelist .m-style .prev {
  font-family: "Simsun";
  font-size: 16px;
  font-weight: bold;
  width: 80px;
}
.pagelist .m-style .next {
  font-family: "Simsun";
  font-size: 16px;
  font-weight: bold;
  width: 80px;
}
.pagelist .m-style:before,
.pagelist .m-style:after {
  content: "";
  display: table;
}
.pagelist .m-style:after {
  clear: both;
  overflow: hidden;
}
.pagelist .active {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #e91e63;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e91e63;
}
.pagelist .now,
.pagelist .count {
  padding: 0 5px;
  color: #f00;
}
.pagelist .eg img {
  max-width: 800px;
  min-height: 500px;
}
.pagelist input {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #fff;
  border: 1px solid #ebebeb;
  outline: none;
  color: #bdbdbd;
  font-size: 14px;
}

.top {
  height: 36px;
  z-index: 10000;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.top .wrapper {
  width: 980px;
  margin: 0 auto;
}
.top .wrapper .top-left {
  float: left;
  width: 189px;
}
.top .wrapper .top-left ul {
  list-style: none;
}
.top .wrapper .top-left ul li {
  position: relative;
  float: left;
  line-height: 36px;
  padding: 0 10px;
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: right -178px;
}
.top .wrapper .top-left ul li em {
  color: red;
}
.top .wrapper .top-left ul li .city {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 280px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #333;
  font-weight: 400;
  cursor: default;
  padding: 5px 0;
  border-top: none;
}
.top .wrapper .top-left ul li .city li {
  padding-left: 10px;
  line-height: 22px;
  color: #a5a5a5;
  font-weight: 700;
  float: none;
}
.top .wrapper .top-left ul li .city li a {
  text-decoration: none;
  color: #333;
}
.top .wrapper .top-left ul li:hover .city {
  display: block;
  z-index: 9999;
}
.top .wrapper .top-right {
  float: right;
  width: 588px;
}
.top .wrapper .top-right ul {
  list-style: none;
}
.top .wrapper .top-right ul .tellnumber {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
}
.top .wrapper .top-right ul em {
  color: red;
}
.top .wrapper .top-right ul .menu {
  position: relative;
}
.top .wrapper .top-right ul .menu ul {
  position: absolute;
  margin: 0 0 0 10px;
  left: -11px;
  top: -27px;
  background: #fff;
  z-index: 10001;
  display: none;
  width: 85px;
  padding: 32px 0 0;
  border: #ddd 1px solid;
}
.top .wrapper .top-right ul .menu ul li a {
  color: #5e5e5e;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 82px;
}
.top .wrapper .top-right ul .menu ul li:hover a {
  color: blue;
  text-decoration: underline;
}
.top .wrapper .top-right ul .menu:hover ul {
  display: block;
}
.top .wrapper .top-right ul li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.top .wrapper .top-right ul li em {
  float: left;
}
.top .wrapper .top-right ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
}
.top .wrapper .top-right ul li a:hover {
  color: blue;
}
.top .wrapper .top-right ul .login a {
  color: red;
}

.cart-nav {
  width: 980px;
  margin: 0 auto;
}
.cart-nav h1 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.cart-nav h1 a {
  color: #0083ce;
  display: inline-block;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  position: relative;
  width: 180px;
}
.cart-nav h1 a span {
  background: url(https://s.maiyaole.com/images/cart/check_logo.png) no-repeat 0 0;
  width: 180px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.cart-nav h1 .steps {
  overflow: hidden;
  margin: 20px 0;
  float: right;
}
.cart-nav h1 .steps ul li {
  background-color: #0083ce;
  color: #fff;
  font-weight: bold;
  width: 175px;
  float: left;
  background: #f3f3f3 url(https://s.maiyaole.com/images/cart/followstep.png) no-repeat right top;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 0 15px 0 0;
  overflow: hidden;
  color: #a5a5a5;
}
.cart-nav h1 .steps ul .current {
  background-color: #0083ce;
  color: #fff;
  font-weight: bold;
}

.cart-main {
  width: 980px;
  margin: 0 auto;
}
.cart-main .cart-title {
  height: 34px;
  line-height: 34px;
  background: #f3f3f3;
  color: #666;
}
.cart-main .cart-title .quanxuan {
  margin-top: 12px;
  margin: 0 8px 0 10px;
  height: 13px;
  float: left;
}
.cart-main .cart-title .quanxuan input {
  margin-right: 5px;
}
.cart-main .cart-title .cart-mes {
  float: left;
  text-align: center;
  width: 290px;
}
.cart-main .cart-title .cart-price {
  float: left;
  text-align: center;
  width: 100px;
}
.cart-main .cart-title .cart-num {
  float: left;
  text-align: center;
  width: 135px;
}
.cart-main .cart-title .tol-price {
  float: left;
  text-align: center;
  width: 135px;
}
.cart-main .cart-title .doing {
  float: left;
  text-align: center;
  width: 189px;
}
.cart-main .goods {
  border: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}
.cart-main .goods .body-item {
  background-color: #eaf9ff;
}
.cart-main .goods .body-item ul {
  margin-bottom: 10px;
}
.cart-main .goods .body-item ul li {
  float: left;
}
.cart-main .goods .body-item ul .check {
  padding-top: 15px;
  width: 65px;
  text-align: center;
}
.cart-main .goods .body-item ul .item-mes {
  width: 290px;
}
.cart-main .goods .body-item ul .item-mes img {
  width: 60px;
  height: 60px;
  float: left;
}
.cart-main .goods .body-item ul .item-mes span {
  color: #333;
  font-size: 12px;
}
.cart-main .goods .body-item ul .item-price {
  width: 100px;
  text-align: center;
  margin-top: 20px;
}
.cart-main .goods .body-item ul .item-price span {
  font-family: tahoma, arial;
  color: #333;
}
.cart-main .goods .body-item ul .item-num {
  margin-top: 20px;
  width: 135px;
}
.cart-main .goods .body-item ul .item-num .num-box {
  height: 21px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 90px;
}
.cart-main .goods .body-item ul .item-num .num-box input {
  float: left;
}
.cart-main .goods .body-item ul .item-num .num-box .num-reduce {
  width: 21px;
  height: 21px;
  margin: 0 2px 0 2px;
  border: none;
  background-color: transparent;
  background-image: url(https://s.maiyaole.com/images/cart/icon_cart.png);
  vertical-align: top;
  cursor: pointer;
  background-position: 0 0;
}
.cart-main .goods .body-item ul .item-num .num-box .num-text {
  width: 30px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #e6e6e6;
  color: #333;
  text-align: center;
  padding: 2px 0;
  background-color: #fff;
  z-index: 2;
}
.cart-main .goods .body-item ul .item-num .num-box .num-add {
  width: 21px;
  height: 21px;
  margin: 0 2px 0 2px;
  border: none;
  background-color: transparent;
  background-image: url(https://s.maiyaole.com/images/cart/icon_cart.png);
  vertical-align: top;
  cursor: pointer;
  background-position: 0 -28px;
}
.cart-main .goods .body-item ul .item-tol {
  width: 135px;
  text-align: center;
  margin-top: 20px;
}
.cart-main .goods .body-item ul .item-tol span {
  font-family: tahoma, arial;
  color: #333;
}
.cart-main .goods .body-item ul .item-doing {
  width: 189px;
  text-align: center;
  margin-top: 20px;
}
.cart-main .goods .body-item ul .item-doing a {
  font-family: tahoma, arial;
  color: #333;
  cursor: pointer;
}

/*# sourceMappingURL=index1.css.map */
