@charset "UTF-8";
html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: '微软雅黑';
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em,
b,
strong {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

img {
  border: 0;
  display: block;
}

input,
fieldset {
  outline: none;
  border: 0;
}

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
}

.top {
  height: 36px;
  z-index: 10000;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}
.top .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.top .wrapper .top-left {
  float: left;
  width: 189px;
}
.top .wrapper .top-left ul {
  list-style: none;
}
.top .wrapper .top-left ul li {
  position: relative;
  float: left;
  line-height: 36px;
  padding: 0 10px;
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218d) no-repeat right 0;
  background-position: right -178px;
}
.top .wrapper .top-left ul li em {
  color: red;
}
.top .wrapper .top-left ul li .city {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 280px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #333;
  font-weight: 400;
  cursor: default;
  padding: 5px 0;
  border-top: none;
}
.top .wrapper .top-left ul li .city li {
  padding-left: 10px;
  line-height: 22px;
  color: #a5a5a5;
  font-weight: 700;
  float: none;
}
.top .wrapper .top-left ul li .city li a {
  text-decoration: none;
  color: #333;
}
.top .wrapper .top-left ul li:hover .city {
  display: block;
  z-index: 9999;
}
.top .wrapper .top-right {
  float: right;
  width: 588px;
}
.top .wrapper .top-right ul {
  list-style: none;
}
.top .wrapper .top-right ul .tellnumber {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
}
.top .wrapper .top-right ul em {
  color: red;
}
.top .wrapper .top-right ul .menu {
  position: relative;
}
.top .wrapper .top-right ul .menu ul {
  position: absolute;
  margin: 0 0 0 10px;
  left: -11px;
  top: -27px;
  background: #fff;
  z-index: 10001;
  display: none;
  width: 85px;
  padding: 32px 0 0;
  border: #ddd 1px solid;
}
.top .wrapper .top-right ul .menu ul li a {
  color: #5e5e5e;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 82px;
}
.top .wrapper .top-right ul .menu ul li:hover a {
  color: blue;
}
.top .wrapper .top-right ul .menu:hover ul {
  display: block;
}
.top .wrapper .top-right ul li {
  float: left;
  line-height: 36px;
  padding: 0 10px;
}
.top .wrapper .top-right ul li em {
  float: left;
}
.top .wrapper .top-right ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #5e5e5e;
}
.top .wrapper .top-right ul li a:hover {
  color: blue;
}
.top .wrapper .top-right ul .login a {
  color: red;
}

.logo-main .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.logo-main .wrapper .logo {
  width: 180px;
  float: left;
  height: 113px;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-top: 26px;
  margin-right: 105px;
}
.logo-main .wrapper .logo a {
  text-decoration: none;
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  background: url(https://s.maiyaole.com/images/common/logo_01.png) no-repeat;
}
.logo-main .wrapper .search {
  float: left;
  margin: 34px 0 0 0;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}
.logo-main .wrapper .search .place {
  position: absolute;
  left: 0;
  top: 3px;
  line-height: 40px;
  padding-left: 12px;
  color: #5e5e5e;
  width: 393px;
  height: 30px;
  overflow: hidden;
  zoom: 1;
}
.logo-main .wrapper .search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  background-color: #fff;
}
.logo-main .wrapper .search #btn {
  float: left;
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
  color: #c7a774;
  font-size: 21px;
  line-height: 46px;
  cursor: pointer;
}
.logo-main .wrapper .search .list {
  margin-top: 10px;
}
.logo-main .wrapper .search .list a {
  text-decoration: none;
  color: #5e5e5e;
  padding: 0 6px 0 0;
  margin-right: 6px;
  height: 16px;
  line-height: 16px;
  font-family: Arial;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.logo-main .wrapper .search .list a:hover {
  color: red;
}
.logo-main .wrapper .search .APP img {
  position: absolute;
  right: -210px;
  top: -7px;
  width: 100px;
  height: 93px;
}

.nav {
  margin: 0 auto;
  border-bottom: 2px solid #d2b994;
}
.nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  height: 46px;
}
.nav .wrapper .nav-first {
  display: block;
  float: left;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma, arial, Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  font-weight: 700;
}
.nav .wrapper ul {
  float: left;
}
.nav .wrapper ul li {
  float: left;
}
.nav .wrapper ul li a {
  font-weight: 400;
  font-family: "Microsoft YaHei";
  color: #505050;
  padding: 0 16px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  position: relative;
  display: block;
  cursor: pointer;
}
.nav .wrapper ul li:hover a {
  color: blue;
}

.banner .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.banner .wrapper .ban-l {
  width: 180px;
  float: left;
}
.banner .wrapper .ban-l ul {
  height: 400px;
  background-color: #314349;
}
.banner .wrapper .ban-l ul li:hover {
  padding-left: 5px;
  transition: all .2s linear;
}
.banner .wrapper .ban-l ul li:hover a {
  background-color: white;
  color: #314349;
}
.banner .wrapper .ban-l ul li:hover i {
  color: #314349;
}
.banner .wrapper .ban-l ul li:hover .cartlist {
  display: block;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item {
  display: block;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl {
  display: block;
  font: 12px/18px Arial, tahoma, \5b8b\4f53;
  background: #fff;
  margin-bottom: 13px;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dt {
  margin: 6px 0 0 23px;
  padding: 0;
  line-height: 20px;
  height: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd {
  color: #999;
  line-height: 1.6;
  width: 220x;
  margin: 0 0 0 23px;
  padding: 0 0 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd em {
  margin: 8px 6px 0 -8px;
  padding: 1px 6px 0 7px;
  display: inline-block;
  font-style: normal;
  border-left: #ddd 1px solid;
  font-weight: 400;
  line-height: 1;
}
.banner .wrapper .ban-l ul li:hover .cartlist .item dl dd em a {
  color: #424242;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
  height: 21px;
}
.banner .wrapper .ban-l ul li a {
  display: block;
  width: 180px;
  height: 40px;
  color: #fff;
  background-color: #314349;
  text-decoration: none;
}
.banner .wrapper .ban-l ul li a i {
  float: left;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  margin-left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 103;
}
.banner .wrapper .ban-l ul li a h4 {
  margin-left: 47px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Microsoft YaHei", tahoma, arial, \5b8b\4f53;
}
.banner .wrapper .cartlist {
  position: absolute;
  top: 0;
  left: 180px;
  height: 400px;
  width: 750px;
  z-index: 101;
  background: #fff;
  border-bottom: 1px solid #e8e8e7;
  border-right: 1px solid #e8e8e7;
  clear: both;
  display: none;
}
.banner .wrapper .cartlist .item {
  position: absolute;
  padding: 20px;
  display: none;
}
.banner .wrapper .ban-m {
  width: 750px;
  height: 400px;
  float: left;
}
.banner .wrapper .ban-m a img {
  width: 750px;
  height: 400px;
}
.banner .wrapper .ban-r {
  width: 259px;
  height: 398px;
  height: 399px;
  border-right: 1px solid #d2b994;
  overflow: hidden;
  border-bottom: 1px solid #d2b994;
}
.banner .wrapper .ban-r .title-1 {
  line-height: 32px;
  padding-left: 13px;
}
.banner .wrapper .ban-r .title-1 a {
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  color: #707070;
  margin-left: 10px;
}
.banner .wrapper .ban-r .content {
  padding-left: 23px;
  padding-bottom: 8px;
  overflow: hidden;
  font-size: 13px;
}
.banner .wrapper .ban-r .content a {
  width: 72px;
  float: left;
  height: 25px;
  line-height: 25px;
  color: #707070;
}
.banner .wrapper .ban-r .content a i {
  background: url(https://s.maiyaole.com/images/201306/images/just_index.png) no-repeat;
  display: inline-block;
  background-position: -15px -452px;
  width: 6px;
  height: 10px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.banner .wrapper .ban-r .content a:hover {
  text-decoration: underline;
}
.banner .wrapper .ban-r .img-1 {
  text-align: center;
  overflow: hidden;
  margin: 0 13px;
}
.banner .wrapper .ban-r .img-1 a img {
  width: 100%;
}
.banner .wrapper .ban-r .title-2 {
  margin-left: 20px;
  padding-top: 10px;
  clear: both;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}
.banner .wrapper .ban-r .title-2 a {
  font-weight: bold;
  color: #000;
  padding-bottom: 5px;
}
.banner .wrapper .ban-r .img-2 ul {
  margin-left: 20px;
  padding-top: 5px;
  height: 44px;
}
.banner .wrapper .ban-r .img-2 ul li {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.banner .wrapper .ban-r .img-2 ul li img {
  width: 44px;
  height: 44px;
  border-radius: 5px;
}
.banner .wrapper .ban-r .title-3 {
  display: inline-block;
  font-size: 12px;
  padding-left: 10px;
}
.banner .wrapper .ban-r .title-3 a {
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #707070;
}
.banner .wrapper .ban-r .img-3 {
  padding: 0 0 0 10px;
  height: 71px;
  padding-top: 8px;
}
.banner .wrapper .ban-r .img-3 a {
  width: 60px;
  float: left;
  display: block;
  text-align: center;
}
.banner .wrapper .ban-r .img-3 a i {
  background: url(https://s.maiyaole.com/images/201306/images/icon_gonggao.png) no-repeat;
  background-position: -42px -44px;
  display: inline-block;
  width: 37px;
  height: 37px;
}
.banner .wrapper .ban-r .img-3 a span {
  display: block;
  color: #333;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
}

.banner2 .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.banner2 .wrapper .oclock {
  width: 180px;
  height: 150px;
  background: pink;
  display: block;
  float: left;
}
.banner2 .wrapper a {
  float: left;
  display: block;
}
.banner2 .wrapper a img {
  display: inline-block;
}

.main-1 .wrapper {
  width: 1190px;
  margin: 0 auto;
}
.main-1 .wrapper .floor1, .main-1 .wrapper .floor2 {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
}
.main-1 .wrapper .floor1 .floor-l, .main-1 .wrapper .floor2 .floor-l {
  float: left;
  width: 180px;
}
.main-1 .wrapper .floor1 .floor-l .title, .main-1 .wrapper .floor2 .floor-l .title {
  padding-left: 20px;
  height: 85px;
  background: #92c4ff;
  color: #F8F8F8;
  line-height: 85px;
  font-size: 20px;
}
.main-1 .wrapper .floor1 .floor-l ul li, .main-1 .wrapper .floor2 .floor-l ul li {
  float: left;
  width: 89px;
  height: 49px;
  border: 1px solid #F3F3F3;
  border-left: none;
  border-top: none;
  text-align: center;
  line-height: 49px;
  font-size: 14px;
}
.main-1 .wrapper .floor1 .floor-l ul li a, .main-1 .wrapper .floor2 .floor-l ul li a {
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
}
.main-1 .wrapper .floor1 .floor-l ul li a:hover, .main-1 .wrapper .floor2 .floor-l ul li a:hover {
  text-decoration: underline;
  color: red;
}
.main-1 .wrapper .floor1 .floor-r, .main-1 .wrapper .floor2 .floor-r {
  height: 284px;
}
.main-1 .wrapper .floor1 .floor-r .img-1, .main-1 .wrapper .floor2 .floor-r .img-1 {
  width: 605px;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #f3f3f3;
}
.main-1 .wrapper .floor1 .floor-r .img-1 img, .main-1 .wrapper .floor2 .floor-r .img-1 img {
  width: 605px;
  height: 100%;
  position: absolute;
  left: 0;
}
.main-1 .wrapper .floor1 .floor-r .img-2, .main-1 .wrapper .floor2 .floor-r .img-2 {
  height: 100%;
  float: left;
}
.main-1 .wrapper .floor1 .floor-r .img-2 img, .main-1 .wrapper .floor2 .floor-r .img-2 img {
  width: 200px;
  height: 100%;
  float: left;
  border-right: 1px solid #F3F3F3;
}
.main-1 .wrapper .floor1 .floor-list, .main-1 .wrapper .floor2 .floor-list, .main-1 .wrapper .floor2 .floor2-list {
  height: 201px;
}
.main-1 .wrapper .floor1 .floor-list li, .main-1 .wrapper .floor2 .floor-list li, .main-1 .wrapper .floor2 .floor2-list li {
  float: left;
  width: 160px;
  padding: 20px 20px 10px 20px;
  border-right: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  height: 170px;
}
.main-1 .wrapper .floor1 .floor-list li img, .main-1 .wrapper .floor2 .floor-list li img, .main-1 .wrapper .floor2 .floor2-list li img {
  width: 100px;
  height: 100px;
  margin-left: 30px;
  display: block;
}
.main-1 .wrapper .floor1 .floor-list li a, .main-1 .wrapper .floor2 .floor-list li a, .main-1 .wrapper .floor2 .floor2-list li a {
  font-size: 14px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  margin: 15px 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.main-1 .wrapper .floor1 .floor-list li p, .main-1 .wrapper .floor2 .floor-list li p, .main-1 .wrapper .floor2 .floor2-list li p {
  color: #E72418;
  font-size: 16px;
  text-align: center;
}
.main-1 .wrapper .floor1 .floor-list li p i, .main-1 .wrapper .floor2 .floor-list li p i, .main-1 .wrapper .floor2 .floor2-list li p i {
  font-size: 12px;
  padding-right: 5px;
}
.main-1 .wrapper .floor2 .floor-l .title {
  background-color: #ffa27a;
}

/*# sourceMappingURL=index1.css.map */
